.todoitems{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
    padding-left: 12px;
}
.todoitems-container{
    display: flex;
    padding-top: 5px;
}
.todoitems-text{
    padding-left: 16px;
    color: rgb(5, 5, 5);
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 30px;
}
.todoitems-cross-icon{
    cursor: pointer;
    padding-right: 25px;
}
.r{
    text-decoration: line-through solid rgb(76, 4, 4) 4px ;
}

 